
@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;
  

.header .navlink{
  padding: 0.4em 1.2em;
  
  border-radius: 4px;
  font-size: 14px;
  text-transform: capitalize;
}
.header .active{
  background-color: #f0abfc;
  color:#000000c2;
}
